{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

    {% comment %}
    Delete the line below if you're just getting started and want to remove the welcome screen!
    {% endcomment %}
    <!-- {% include 'home/welcome_page.html' %} -->

    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
    {% if page.body %}
        {% comment %} Add the body here {% endcomment %}
        {{ page.body|richtext }}
    {% endif %}

    {% comment %}
        Image renditions below.
    {% endcomment %}
    {% image page.image fill-150x150-c100 format-jpeg %}
    {% image page.image width-400 %}
    {% image page.image width-400 format-avif-lossless %}
    {% image page.image width-400 format-webp-lossless %}
    {% comment %}
        Using an image as a template variable
    {% endcomment %}
    {% image page.image fill-90x200 as custom_img %}
    <!-- {{ custom_img.url }}
    {{ custom_img.width }}
    {{ custom_img.height }} -->

    <h2>Lesson 6: Dynamic image serve view</h2>
    {% image_url page.image "fill-150x150|jpegquality-100" %}
    {% image_url page.image "fill-150x150|jpegquality-100" as custom_img2 %}<!-- Better practice is to add it as a variable. -->
    {{ custom_img2 }}
    <img src="{{ custom_img2 }}" alt="Dynamic image service view example" />
    <img src={% image_url page.image "fill-150x150" %}  alt="Dynamic image service view example" /><!-- Not using it via a variable.-->

    {% comment Doing this in the front-end is more code to maintain than using a method in the back-end. %} {% endcomment %}
    {% if page.cta_url or page.cta_external_url %}
        {% if page.cta_external_url %}
            <p>Link to external page: <a href="{{ page.cta_external_url }}">{{ page.cta_external_url }}</a></p>
        {% else %}
            <p>Link to internal page: <a href="{{ page.cta_url.url }}">{{ page.cta_url.title }}</a></p>        
        {% endif %}
    {% endif %}

    {% comment So using method in back-end: %} {% endcomment %}
    {% if page.get_cta_url %}
        <p>URL for <code>get_cta_url</code>: {{ page.get_cta_url }}</p>
    {% endif %}


{% endblock content %}
