{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>
    {% image page.image fill-150x150-c100 format-jpeg %}

    <h2>Body is below</h2>
    <div>{{ page.body|richtext }}</div>

    <h2>Body using a Streamfield is below</h2>
    {% for block in page.body_as_streamfield %}
        {% if block.block_type == 'text' %}
            <p>{{ block.value }}</p>
        {% elif block.block_type == 'image' %}
            <p>{% image block.value fill-800x400 format-jpeg %}</p>
        {% elif block.block_type == 'carousel' %}
            {% for slide in block.value %}
                {% if slide.block_type == 'image' %}
                    {% image slide.value fill-800x400 %}
                {% elif slide.block_type == 'quotation' %}
                    {{ slide.value.text }}<br />
                    <strong>
                        &mdash; {{ slide.value.author }}
                    </strong>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <h2>Tags</h2>
    <ul>
    {% for tag in page.tags.all %}
        <li><a href="/blog/?tag={{ tag.slug }}">{{ tag.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}